.container {
    width: 100%;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    font-size: 100%;
    background-color: #21252B;
    font-family: 'Open Sans', sans-serif;
  }

.container .content {
    padding: 5%;
    font-size: 100%;
    background-color: #F4F4F4;
}

.container .content .product-info {
    background-color: rgb(255, 255, 255);
}

.container .content .product-info #product-info-img {
    margin-left: 30%;
    margin-right: 30%;
}

.container .content .product-info .product-info-name {
    padding: 20px;
    text-align: center;
}

.container .content .product-info .product-info-price {
    padding-top: 20px;
    text-align: center;
    color: rgb(206, 0, 0)
}

.container .content .product-info .product-info-description {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.grid-container {
    background-color: rgb(255, 255, 255);
}

.grid {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(100, 200px);
    grid-template-rows: minmax(150px, 1fr);
    overflow-x: scroll;
}

.grid-container .load-spinner {
    height: 150px;
}
  
  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
  }
  .loader {
    color: #00000036;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before,
  .loader:after {
    position: absolute;
    content: '';
  }
  .loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #ffffff;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.2em 5.1em;
    transform-origin: 5.2em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
  }
  .loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #ffffff;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 5.1em;
    -webkit-transform-origin: 0px 5.1em;
    transform-origin: 0px 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
  }
  @-webkit-keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


.small-product {
    width: 200px;
    padding-left: 20px;
}

.small-product #small-product-image {
    margin-left: 10%;
}

.small-product a {
    text-decoration: none;
}
.small-product a:link {
    color: black;
}

.small-product a:hover {
    font-weight: bold;
}