*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: #F4F4F4;
  font-family: 'Open Sans', sans-serif;
}


.inspector {
  margin-left: 450px;
  margin-right: 100px;
  margin-top: 100px;  
}

.inspector pre {
  font-family: Menlo;
  font-size: 13px;
}

.inspector .load-more {
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 80px;
  padding: 15px;
  background-color: rgba(43, 43, 43, 0.253);
}
.inspector .load-more:hover{
  font-weight: bold;
}


.product {
  font-size: 12px;
  width: 100%;
  height: 175px;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.product .name {
  margin: 0px;
  padding-top: 40px;
  margin-left: 230px;
  margin-right: 40px;
  font-weight: normal;
  cursor: pointer;
}

.product .name:hover {
  font-weight: bold;
}

.product h3 {
  margin: 2px;
  padding-top: 30px; 
  text-indent: 40px;
  font-weight: normal;
}

.product img {
  vertical-align:top;
  margin-left: 0;
}

.list_products .product {
  margin-bottom: 30px;
}

.popupdiv {
  position: fixed;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 15%;
  bottom: 15%;
  margin: auto;
  background: white;
}
.popup_inner .close_button {
  position: absolute;
  right: 2%;
  font-size: 50px;
  cursor: pointer;
  font-weight: bold;
  opacity: 0.3;
}
.popup_inner .close_button:hover{
  opacity: 0.8;
}

.popup_inner h1 {
  font-weight: normal;
  text-align: center;
  margin-top: 30px;
}
.popup_inner h2 {
  font-weight: normal;
  margin-top: 50px;
}
.popup_inner .description {
  font-size: 14px;
  padding-right: 40px;
}